/* BASIC STYLES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #D5DABE;
    color: #333;
    font-family: 'Georgia', serif;
    font-size: 16px;
}

.navbar {
    position: fixed;
    top: 5px;
    width: 100%;
    background: #B3C0A4;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #505168ff;
    border-top: 2px solid #505168ff;
    z-index: 9999;

}

nav a {
    text-decoration: none;
    color: #505168ff;
    font-weight: bold;
    font-family: 'Georgia', serif;
    padding: 28px 23px;
    background: #B3C0A4;
}

nav a:hover {
    background-color: #99AA86;
}

.book-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #e0a3a1;
    color: #505168ff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 12px;
    border-radius: 12px;
    margin-right: auto;
    margin-left: 20px;
    border: 2px solid #505168ff;
}

.calendar-icon {
    width: 22px;
    height: 22px;
}

.content-area {
    margin-top: 0px;
    padding: 20px;
}

.contact h2 {
    margin-bottom: 15px;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    color: #505168ff;

}

.member img {
    width: 100%;
    border-radius: 12px;
}

.contact {
    display: flex;
    align-items: flex-start;
    margin: 50px auto;
    max-width: 1200px;
}

.contact-info {
    flex: 0 0 40%;
    font-size: 20px;
    text-align: center;
    color: #505168ff;
    max-width: 1200px;
    margin: 0 auto; 
    line-height: 1.8;
}

.map-container {
    flex: 0 0 55%;
}

.map-container iframe {
    width: 100%;
    height: 500px;
    border: 0;
}

footer {
    background: #B3C0A4;
    padding: 20px 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 2px solid #505168ff;
    flex-wrap: wrap;
}

.footer-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px 10px;
    font-family: 'Georgia', serif;
    text-align: center;
    font-size: 18px;
}

.content-area {
    margin-top: 120px;
    padding: 40px;
}

@media (max-width: 750px) {
.icon {
    width: 28px;
    height: 28px;
    margin-right: 5px;
}

.intro-section {
    margin-top:60px;
    margin-bottom: 0px;
    z-index:1;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.salon-image {
    width: 100%;
    object-fit: contain;
}

.salon-image-overlay {
    position: absolute;
    inset: 0;
    background: rgba(213, 218, 190, 0.40);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.intro-logo {
    width: 240px;
    margin-bottom: 15px;
}

.intro-text {
    font-size: 20px;
    text-align: center;
    color: #505168ff;
    max-width: 1000px;
    margin: 0 auto; 
    line-height: 1.4;
}

.intro-text h2 {
    font-weight: bold;
    color: #505168ff;
    margin-bottom: 20px;
    margin-top: 40px;
}

.intro-tagline {
    font-size: 25px;
    font-weight: bold;
    color: #505168ff;
}

.services-cards {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 1200px;
}

.service-card {
    background: #B3C0A4;
    color: #505168ff;
    border-radius: 14px;
    overflow: hidden;
    width: 100%;
    max-width: 360px;
    transition: transform 0.3s ease;
}

.service-card img {
    width: 100%;
    height: 240px;
    opacity: 0.8;
    object-fit: cover;
}

.service-content {
    padding: 25px;
}

.service-content h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.service-content p {
    color: #505168ff;
    line-height: 1.6;
    margin-bottom: 10px;
}

    nav { 
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 10px;
    }
    nav a {
        padding: 8px 14px;
        margin-left: 10px;
        font-size: 14px;
    }

    .content-area {
        padding: 20px;
    }

    footer {
        flex-direction: column;
        gap: 10px;
    }

    .intro-section {
    margin-top:100px;
    }
    .services-cards {
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin: 40px auto;
    }

    .service-card {
        max-width: 100%;
        width: 100%;
    }

    .service-card img {
        height: 190px;
    }

    .service-content {
        padding: 20px;
    }

    .service-content h3 {
        font-size: 20px;
    }

    .service-content p {
        font-size: 15px;
        line-height: 1.5;
    }

    .contact {
        flex-direction: column;
        margin: 60px auto;
        gap: 40px;
        padding: 0 10px;flex-direction: column;
        max-width: 100%;
    }

    .contact-info,
    .map-container {
        flex: 0 0 100%;
        width: 100%;


    }
}

/* BUTTONS */

.book-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #e0a3a1;
    color: #505168ff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 12px;
    border-radius: 12px;
    margin-right: auto;
    margin-left: 20px;
    border: 2px solid #505168ff;
}

.submit-btn, .back-home-btn {
    display: block;
    margin: 25px auto 0;
    padding: 10px 12px;
    width: fit-content;
    background: #e0a3a1;
    color: #505168ff;
    font-weight: bold;
    text-decoration: none;
    border-radius: 12px;
    border: 2px solid #505168ff;
    font-family: 'Georgia', serif;
    font-size: 18px;
    cursor: pointer;
}

.submit-btn:hover, .back-home-btn:hover, .book-btn:hover {
    background: #cd8987ff;
    color: white;
}

/* TEXT STYLES */

.about h2, .contact h2{
    margin-bottom: 15px;
    font-size: 28px;
}

.booking h2, .confirmation h2 {
    margin-bottom: 15px;
    font-size: 28px;
    color: #505168ff;
    text-align: center;
}

.contact p {
    margin-bottom: 8px;
}

.confirmation p {
    margin-bottom: 8px;
    text-align: center;
}

/* ADDITIONAL STYLES */

.map-container iframe {
    width: 45%;
    height: 500px;
    border: 0;
    margin-top: 15px;
    margin-left: 50%;
}

.member img {
    width: 100%;
    border-radius: 12px;
}

.calendar-icon {
    width: 22px;
    height: 22px;
}

.icon {
    width: 28px;
    height: 28px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-img {
    height: 55px;
    width: auto;
}

/* BOOKING FORM */

.booking form {
    background: #B3C0A4;
    padding: 30px;
    border-radius: 10px;
    border: 2px solid #505168ff;
    max-width: 600px;
    margin: 0 auto;
    font-family: 'Georgia', serif;
}

.form-booking {
    margin-bottom: 18px;
    display: flex;
    flex-direction: column;
}

.form-booking label {
    font-weight: bold;
    margin-bottom: 6px;
    color: #505168ff;
}

.booking input,
.booking select {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #505168ff;
    border-radius: 10px;
    background: #eaefd3ff; 
    font-family: 'Georgia', serif;
}