/* BASIC STYLES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #D5DABE;
    color: #333;
    font-family: 'Georgia', serif;
    font-size: 16px;
}

.navbar {
    position: fixed;
    top: 5px;
    width: 100%;
    background: #B3C0A4;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #505168ff;
    border-top: 2px solid #505168ff;

}

nav a {
    text-decoration: none;
    color: #505168ff;
    font-weight: bold;
    font-family: 'Georgia', serif;
    padding: 28px 23px;
    background: #B3C0A4;
}

nav a:hover {
    background-color: #99AA86;
}

footer {
    background: #B3C0A4;
    padding: 20px 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 2px solid #505168ff;
    flex-wrap: wrap;
}

.footer-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px 10px;
    font-family: 'Georgia', serif;
    font-size: 18px;
}

.content-area {
    margin-top: 120px;
    padding: 40px;
}

@media (max-width: 750px) {
    nav { 
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 10px;
    }
    nav a {
        padding: 8px 14px;
        margin-left: 10px;
        font-size: 14px;
    }

    .content-area {
        padding: 20px;
    }

    footer {
        flex-direction: column;
        gap: 10px;
    }
}

/* BUTTONS */

.book-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #e0a3a1;
    color: #505168ff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 12px;
    border-radius: 12px;
    margin-right: auto;
    margin-left: 20px;
    border: 2px solid #505168ff;
}

.submit-btn, .back-home-btn {
    display: block;
    margin: 25px auto 0;
    padding: 10px 12px;
    width: fit-content;
    background: #e0a3a1;
    color: #505168ff;
    font-weight: bold;
    text-decoration: none;
    border-radius: 12px;
    border: 2px solid #505168ff;
    font-family: 'Georgia', serif;
    font-size: 18px;
    cursor: pointer;
}

.submit-btn:hover, .back-home-btn:hover, .book-btn:hover {
    background: #cd8987ff;
    color: white;
}

/* TEXT STYLES */

.about h2, .contact h2{
    margin-bottom: 15px;
    font-size: 28px;
}

.booking h2, .confirmation h2 {
    margin-bottom: 15px;
    font-size: 28px;
    color: #505168ff;
    text-align: center;
}

.contact p {
    margin-bottom: 8px;
}

.confirmation p {
    margin-bottom: 8px;
    text-align: center;
}

/* ADDITIONAL STYLES */

.map-container iframe {
    width: 45%;
    height: 500px;
    border: 0;
    margin-top: 15px;
    margin-left: 50%;
}

.member img {
    width: 100%;
    border-radius: 12px;
}

.calendar-icon {
    width: 22px;
    height: 22px;
}

.icon {
    width: 28px;
    height: 28px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-img {
    height: 55px;
    width: auto;
}

/* BOOKING FORM */

.booking form {
    background: #B3C0A4;
    padding: 30px;
    border-radius: 10px;
    border: 2px solid #505168ff;
    max-width: 600px;
    margin: 0 auto;
    font-family: 'Georgia', serif;
}

.form-booking {
    margin-bottom: 18px;
    display: flex;
    flex-direction: column;
}

.form-booking label {
    font-weight: bold;
    margin-bottom: 6px;
    color: #505168ff;
}

.booking input,
.booking select {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #505168ff;
    border-radius: 10px;
    background: #eaefd3ff; 
    font-family: 'Georgia', serif;
}